# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/


# Expo
.expo/
dist/
web-build/


!.env

ios/
android/

!modules/**/ios
!modules/**/android

modules/**/android/build

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

.idea

.pnp.*
